/* Material CSS color palette with additional*/
:root{

/* black and white */

--bw1: hsl(0, 0%, 100%);
--bw2: hsl(0, 0%, 94%);
--bw3: hsl(0, 0%, 89%);
--bw4: hsl(0, 0%, 82%);
--bw5: hsl(0, 0%, 72%);
--bw6: hsl(0, 0%, 60%);
--bw7: hsl(0, 0%, 49%);
--bw8: hsl(0, 0%, 38%);
--bw9: hsl(0, 0%, 26%);
--bw10:hsl(0, 0%, 15%);
--bw11:hsl(0, 0%, 0%);

/* full spectrum */

--red1: hsl(354, 90%, 95%);
--red2: hsl(355, 96%, 89%);
--red3: hsl(0, 68%, 78%);
--red4: hsl(1, 69%, 68%);
--red5: hsl(2, 78%, 63%);
--red6: hsl(3, 85%, 59%);
--red7: hsl(2, 72%, 54%);
--red8: hsl(1, 64%, 50%);
--red9: hsl(1, 59%, 44%);
--red10:hsl(0, 63%, 37%);
--red11:hsl(0, 68%, 27%);
--pink1: hsl(342, 75%, 93%);
--pink2: hsl(341, 76%, 85%);
--pink3: hsl(342, 77%, 76%);
--pink4: hsl(342, 78%, 67%);
--pink5: hsl(343, 77%, 60%);
--pink6: hsl(344, 77%, 55%);
--pink7: hsl(342, 66%, 51%);
--pink8: hsl(341, 62%, 46%);
--pink9: hsl(338, 62%, 41%);
--pink10:hsl(332, 61%, 33%);
--pink11:hsl(330, 59%, 23%);
--purple1: hsl(292, 49%, 93%);
--purple2: hsl(290, 41%, 82%);
--purple3: hsl(291, 41%, 70%);
--purple4: hsl(290, 40%, 60%);
--purple5: hsl(290, 40%, 52%);
--purple6: hsl(290, 47%, 45%);
--purple7: hsl(285, 48%, 44%);
--purple8: hsl(278, 49%, 41%);
--purple9: hsl(272, 50%, 37%);
--purple10:hsl(259, 51%, 33%);
--purple11:hsl(255, 52%, 24%);
--purpleDeep1: hsl(261, 41%, 93%);
--purpleDeep2: hsl(258, 40%, 82%);
--purpleDeep3: hsl(259, 40%, 72%);
--purpleDeep4: hsl(257, 40%, 63%);
--purpleDeep5: hsl(257, 40%, 57%);
--purpleDeep6: hsl(255, 41%, 52%);
--purpleDeep7: hsl(253, 43%, 47%);
--purpleDeep8: hsl(250, 45%, 44%);
--purpleDeep9: hsl(247, 47%, 38%);
--purpleDeep10:hsl(241, 50%, 33%);
--purpleDeep11:hsl(240, 53%, 25%);
--indigo1: hsl(227, 41%, 93%);
--indigo2: hsl(228, 41%, 83%);
--indigo3: hsl(227, 41%, 73%);
--indigo4: hsl(226, 41%, 62%);
--indigo5: hsl(226, 41%, 54%);
--indigo6: hsl(225, 48%, 46%);
--indigo7: hsl(226, 49%, 43%);
--indigo8: hsl(225, 53%, 39%);
--indigo9: hsl(226, 56%, 35%);
--indigo10:hsl(227, 64%, 29%);
--indigo11:hsl(228, 67%, 20%);
--blue1: hsl(203, 81%, 94%);
--blue2: hsl(205, 82%, 85%);
--blue3: hsl(205, 84%, 76%);
--blue4: hsl(205, 83%, 67%);
--blue5: hsl(205, 84%, 60%);
--blue6: hsl(205, 85%, 53%);
--blue7: hsl(206, 75%, 50%);
--blue8: hsl(207, 78%, 45%);
--blue9: hsl(208, 80%, 40%);
--blue10:hsl(211, 91%, 32%);
--blue11:hsl(213, 93%, 22%);
--blueLight1: hsl(197, 88%, 94%);
--blueLight2: hsl(198, 88%, 84%);
--blueLight3: hsl(198, 88%, 74%);
--blueLight4: hsl(198, 87%, 66%);
--blueLight5: hsl(198, 87%, 58%);
--blueLight6: hsl(198, 87%, 51%);
--blueLight7: hsl(199, 87%, 47%);
--blueLight8: hsl(200, 91%, 43%);
--blueLight9: hsl(201, 95%, 36%);
--blueLight10:hsl(204, 100%, 29%);
--blueLight11:hsl(206, 100%, 20%);
--cyan1: hsl(185, 68%, 93%);
--cyan2: hsl(187, 69%, 82%);
--cyan3: hsl(187, 69%, 71%);
--cyan4: hsl(187, 67%, 60%);
--cyan5: hsl(187, 67%, 53%);
--cyan6: hsl(187, 71%, 48%);
--cyan7: hsl(187, 71%, 43%);
--cyan8: hsl(187, 71%, 38%);
--cyan9: hsl(185, 70%, 32%);
--cyan10:hsl(182, 68%, 24%);
--cyan11:hsl(180, 66%, 15%);
--teal1: hsl(176, 38%, 91%);
--teal2: hsl(176, 39%, 78%);
--teal3: hsl(175, 40%, 65%);
--teal4: hsl(174, 38%, 53%);
--teal5: hsl(175, 51%, 43%);
--teal6: hsl(174, 64%, 35%);
--teal7: hsl(173, 64%, 31%);
--teal8: hsl(172, 64%, 28%);
--teal9: hsl(172, 64%, 24%);
--teal10:hsl(170, 64%, 19%);
--teal11:hsl(168, 66%, 13%);
--green1: hsl(125, 35%, 93%);
--green2: hsl(124, 34%, 84%);
--green3: hsl(124, 33%, 74%);
--green4: hsl(124, 34%, 65%);
--green5: hsl(124, 34%, 57%);
--green6: hsl(124, 33%, 50%);
--green7: hsl(124, 34%, 45%);
--green8: hsl(124, 35%, 40%);
--green9: hsl(125, 37%, 35%);
--green10:hsl(126, 40%, 26%);
--green11:hsl(127, 42%, 18%);
--greenLight1: hsl(86, 47%, 94%);
--greenLight2: hsl(87, 45%, 86%);
--greenLight3: hsl(87, 43%, 76%);
--greenLight4: hsl(87, 43%, 67%);
--greenLight5: hsl(88, 44%, 61%);
--greenLight6: hsl(88, 43%, 55%);
--greenLight7: hsl(90, 36%, 50%);
--greenLight8: hsl(93, 37%, 44%);
--greenLight9: hsl(96, 38%, 38%);
--greenLight10:hsl(106, 40%, 29%);
--greenLight11:hsl(108, 42%, 20%);
--lime1: hsl(63, 64%, 95%);
--lime2: hsl(63, 63%, 86%);
--lime3: hsl(63, 63%, 78%);
--lime4: hsl(63, 63%, 70%);
--lime5: hsl(64, 62%, 64%);
--lime6: hsl(64, 61%, 59%);
--lime7: hsl(62, 51%, 54%);
--lime8: hsl(60, 43%, 48%);
--lime9: hsl(56, 45%, 43%);
--lime10:hsl(50, 49%, 33%);
--lime11:hsl(48, 51%, 22%);
--yellow1: hsl(52, 100%, 95%);
--yellow2: hsl(51, 100%, 89%);
--yellow3: hsl(51, 100%, 82%);
--yellow4: hsl(51, 100%, 76%);
--yellow5: hsl(51, 100%, 71%);
--yellow6: hsl(51, 100%, 68%);
--yellow7: hsl(45, 98%, 66%);
--yellow8: hsl(39, 95%, 64%);
--yellow9: hsl(32, 93%, 62%);
--yellow10:hsl(23, 89%, 58%);
--yellow11:hsl(21, 87%, 46%);
--amber1: hsl(43, 100%, 94%);
--amber2: hsl(42, 100%, 86%);
--amber3: hsl(42, 100%, 77%);
--amber4: hsl(42, 100%, 69%);
--amber5: hsl(41, 100%, 65%);
--amber6: hsl(39, 100%, 62%);
--amber7: hsl(36, 99%, 61%);
--amber8: hsl(31, 98%, 60%);
--amber9: hsl(27, 98%, 60%);
--amber10:hsl(20, 97%, 58%);
--amber11:hsl(18, 94%, 45%);
--orange1: hsl(34, 100%, 94%);
--orange2: hsl(33, 100%, 85%);
--orange3: hsl(33, 98%, 76%);
--orange4: hsl(32, 99%, 68%);
--orange5: hsl(31, 99%, 63%);
--orange6: hsl(29, 98%, 60%);
--orange7: hsl(27, 94%, 59%);
--orange8: hsl(24, 88%, 56%);
--orange9: hsl(21, 84%, 54%);
--orange10:hsl(15, 77%, 49%);
--orange11:hsl(13, 75%, 39%);
--deepOrange1: hsl(6, 66%, 94%);
--deepOrange2: hsl(13, 97%, 87%);
--deepOrange3: hsl(13, 96%, 78%);
--deepOrange4: hsl(13, 97%, 71%);
--deepOrange5: hsl(12, 97%, 64%);
--deepOrange6: hsl(11, 97%, 59%);
--deepOrange7: hsl(11, 87%, 54%);
--deepOrange8: hsl(11, 77%, 49%);
--deepOrange9: hsl(11, 73%, 43%);
--deepOrange10:hsl(10, 67%, 35%);
--deepOrange11:hsl(10, 65%, 24%);

/* arbitrary colors */

--brown1: hsl(12, 13%, 92%);
--brown2: hsl(16, 15%, 81%);
--brown3: hsl(16, 14%, 68%);
--brown4: hsl(15, 14%, 56%);
--brown5: hsl(15, 16%, 47%);
--brown6: hsl(15, 23%, 38%);
--brown7: hsl(13, 23%, 35%);
--brown8: hsl(12, 22%, 30%);
--brown9: hsl(10, 22%, 25%);
--brown10:hsl(10, 23%, 20%);
--brown11:hsl(10, 24%, 13%);
--blueGrey1: hsl(192, 14%, 93%);
--blueGrey2: hsl(198, 15%, 83%);
--blueGrey3: hsl(198, 14%, 73%);
--blueGrey4: hsl(199, 15%, 62%);
--blueGrey5: hsl(199, 14%, 54%);
--blueGrey6: hsl(200, 17%, 46%);
--blueGrey7: hsl(197, 17%, 40%);
--blueGrey8: hsl(197, 16%, 33%);
--blueGrey9: hsl(197, 15%, 27%);
--blueGrey10:hsl(200, 15%, 20%);
--blueGrey11:hsl(203, 15%, 13%);

/* colored table rows */

--redRow:           hsl(351, 58%, 94%);
--redRowAlt:        hsl(356, 70%, 89%);
--redRowBorder:     hsl(1, 69%, 79%);
--amberRow:         hsl(43, 65%, 92%);
--amberRowAlt:      hsl(46, 74%, 85%);
--yellowRow:        hsl(49, 72%, 92%);
--yellowRowAlt:     hsl(51, 76%, 85%);
--orangeRowBorder:  hsl(37, 81%, 75%);
--greenRow:         hsl(127, 40%, 94%);
--greenRowAlt:      hsl(123, 36%, 86%);
--greenRowBorder:   hsl(125, 40%, 73%);
--blueRow:          hsl(208, 60%, 93%);
--blueRowAlt:       hsl(205, 65%, 86%);
--blueRowBorder:    hsl(205, 75%, 75%);
--purpleRow:        hsl(290, 46%, 95%);
--purpleRowAlt:     hsl(291, 40%, 87%);
--purpleRowBorder:  hsl(292, 45%, 76%);

/* generic colors ( intensity level 6 ) */

--red:       hsl(4, 85%, 60%);
--pink:      hsl(344, 77%, 55%);
--purple:    hsl(290, 47%, 45%);
--purpleDeep:hsl(255, 41%, 49%);
--indigo:    hsl(225, 48%, 46%);
--blue:      hsl(205, 85%, 53%);
--blueLight: hsl(198, 87%, 51%);
--cyan:      hsl(187, 71%, 48%);
--teal:      hsl(174, 64%, 35%);
--green:     hsl(124, 33%, 50%);
--greenLight:hsl(88, 43%, 55%);
--lime:      hsl(64, 61%, 59%);
--yellow:    hsl(51, 100%, 68%);
--amber:     hsl(39, 100%, 62%);
--orange:    hsl(29, 98%, 60%);
--deepOrange:hsl(11, 97%, 60%);
--brown:     hsl(15, 23%, 38%);
--blueGrey:  hsl(200, 17%, 46%);

/* vivid colors */

--redViv1:      hsl(4, 95%, 75%);
--redViv2:      hsl(0, 96%, 66%);
--redViv3:      hsl(352, 96%, 58%);
--redViv4:      hsl(1, 77%, 46%);
--pinkViv1:     hsl(342, 95%, 75%);
--pinkViv2:     hsl(343, 96%, 64%);
--pinkViv3:     hsl(345, 88%, 55%);
--pinkViv4:     hsl(338, 64%, 46%);
--purpleViv1:   hsl(291, 86%, 75%);
--purpleViv2:   hsl(290, 87%, 66%);
--purpleViv3:   hsl(288, 86%, 60%);
--purpleViv4:   hsl(272, 92%, 61%);
--purpleDeepViv1:hsl(257, 90%, 77%);
--purpleDeepViv2:hsl(248, 90%, 67%);
--purpleDeepViv3:hsl(248, 91%, 62%);
--purpleDeepViv4:hsl(251, 74%, 56%);
--indigoViv1:   hsl(226, 90%, 75%);
--indigoViv2:   hsl(225, 90%, 64%);
--indigoViv3:   hsl(224, 91%, 59%);
--indigoViv4:   hsl(223, 92%, 55%);
--blueViv1:     hsl(214, 92%, 74%);
--blueViv2:     hsl(214, 93%, 61%);
--blueViv3:     hsl(213, 94%, 55%);
--blueViv4:     hsl(218, 93%, 54%);
--blueLightViv1:hsl(198, 95%, 75%);
--blueLightViv2:hsl(198, 95%, 63%);
--blueLightViv3:hsl(199, 96%, 52%);
--blueLightViv4:hsl(201, 100%, 45%);
--cyanViv1:     hsl(180, 98%, 77%);
--cyanViv2:     hsl(180, 99%, 61%);
--cyanViv3:     hsl(187, 97%, 58%);
--cyanViv4:     hsl(189, 73%, 47%);
--tealViv1:     hsl(167, 95%, 83%);
--tealViv2:     hsl(166, 96%, 71%);
--tealViv3:     hsl(164, 76%, 57%);
--tealViv4:     hsl(171, 63%, 45%);
--greenViv1:    hsl(138, 70%, 84%);
--greenViv2:    hsl(151, 76%, 69%);
--greenViv3:    hsl(146, 73%, 55%);
--greenViv4:    hsl(139, 60%, 48%);
--greenLightViv1:hsl(87, 91%, 79%);
--greenLightViv2:hsl(89, 92%, 71%);
--greenLightViv3:hsl(101, 93%, 63%);
--greenLightViv4:hsl(102, 64%, 55%);
--limeViv1:     hsl(63, 93%, 77%);
--limeViv2:     hsl(64, 94%, 68%);
--limeViv3:     hsl(76, 94%, 64%);
--limeViv4:     hsl(79, 75%, 58%);
--yellowViv1:   hsl(58, 100%, 80%);
--yellowViv2:   hsl(58, 100%, 65%);
--yellowViv3:   hsl(51, 100%, 64%);
--yellowViv4:   hsl(45, 100%, 63%);
--amberViv1:    hsl(45, 100%, 77%);
--amberViv2:    hsl(44, 100%, 68%);
--amberViv3:    hsl(40, 100%, 62%);
--amberViv4:    hsl(34, 99%, 61%);
--orangeViv1:   hsl(35, 100%, 77%);
--orangeViv2:   hsl(30, 99%, 66%);
--orangeViv3:   hsl(27, 98%, 60%);
--orangeViv4:   hsl(19, 97%, 58%);
--deepOrangeViv1:hsl(13, 97%, 75%);
--deepOrangeViv2:hsl(13, 97%, 64%);
--deepOrangeViv3:hsl(9, 97%, 57%);
--deepOrangeViv4:hsl(8, 75%, 49%);
}